*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Saira Condensed', sans-serif;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    background-color: #292f36;
    color: white;
    width: 100%;
    min-height: 100vh;
}
.container{
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.titles{
    text-align: center;
}
.layout-title{
    font-size: 3em;
}
.layout-view{
    font-size: 2em;
}
.string{
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.note{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 20px;
    width: 40px;
    min-width: 10px;
    margin: 2px;
    background-color: #334D5B;
}
.note p{
    font-size: 15px;
}
.pianoLayout{
    height: 100px;
    width: 30px;
}
.pianoLayoutSharp{
    height: 50px;    
}
.fret-counting{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fret-counting p{
    font-size: 15px;
    text-align: center;
    width: 40px;
    min-width: 10px;
    margin: 2px;
}
#version{
    text-align: center;
}

@media only screen and (max-width: 600px) {
    body{
        justify-content: space-around;
    }
    .container{
        padding: 0 10px;
    }
    .note{
        height: 15px;  
    }
    .note p,
    .fret-counting p{
        font-size: 10px;
    }
  }