<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap" rel="stylesheet">
    <title>Musician's scale tool</title>
</head>
<body>
    <div class="titles">
        <p class="layout-title">Musician's scale tool</p>
        <p class="layout-view"></p>
    </div>

    <div class="container">
        <div class="fret-counting"></div>
    </div>
    
    <div class="main-area">

        <div class="user-side">
            
            <button class="change-layout" value="gtrLayout">Change layout</button>
            
            <form action="javascript:UserSubmit(this);" method="POST">
                
                <select name="rootNote" id="rootNote" onchange="getUserOption(this)"></select>
                <select disabled name="highlightMethod" id="highlightMethod" onchange="getUserhighlightMethod(this)"></select>

            </form>
        </div> 

    </div>

    <div class="links">
        <a href="https://github.com/Andradev101">Andradev101</a>
        <a href="https://github.com/Andradev101/musicians-scale-tool">Project repository</a>
        <p id="version">V.0.0.4</p>
    </div>

    <script src="/scripts/index.js"></script>
    
    <script src="/scripts/InstrumentLayouts/gtrLayout.js"></script>
    <script src="/scripts/InstrumentLayouts/pianoLayout.js"></script>

    <script src="/scripts/forms.js"></script>

    <script src="/scripts/highlightMethods/wipeOut.js"></script>
    <script src="/scripts/highlightMethods/singleNoteMethod.js"></script>
    <script src="/scripts/highlightMethods/powerChordMethod.js"></script>
    <script src="/scripts/highlightMethods/pentatonicMethod.js"></script>
    <script src="/scripts/highlightMethods/pentatonicBluesMethod.js"></script>
    <script src="/scripts/highlightMethods/minorChordMethod.js"></script>
    <script src="/scripts/highlightMethods/majorChordMethod.js"></script>
    <script src="/scripts/highlightMethods/circleOf5thsMethod.js"></script>
    <script src="/scripts/highlightMethods/majorScaleMethod.js"></script>
</body>
</html>