<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/user.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira+Condensed&display=swap" rel="stylesheet">
    <title>Musician's scale tool</title>
</head>
<body>
    <div class="titles">
        <p class="layout-title">Musician's scale tool</p>
        <p class="layout-view"></p>
    </div>

    <div class="container">
        <div class="fret-counting"></div>
    </div>
    
    <div class="main-area">

        <div class="user-side">
            
            <button class="change-layout" value="gtrLayout">Change layout</button>
            
            <form action="javascript:UserSubmit(this);" method="POST">
                
                <select name="rootNote" id="rootNote" onchange="getUserOption(this)">
                    <option id="noteToBeRemoved" value=""></option>
                </select>

                <select disabled name="highlightMethod" id="highlightMethod" onchange="getUserhighlightMethod(this)">
                    <option id="highlightToBeRemoved" value=""></option>
                </select>

            </form>
        </div> 

    </div>

    <div class="links">
        <a href="https://github.com/Andradev101">Andradev101</a>
        <a href="https://github.com/Andradev101/musicians-scale-tool">Project repository</a>
        <p id="version">V.0.0.3</p>
    </div>

    <script src="/scripts/index.js"></script>
    <script src="/scripts/instrumentLayouts.js"></script>
    <script src="/scripts/gtrStrings.js"></script>
    <script src="/scripts/chord-finder.js"></script>
    <script src="/scripts/forms.js"></script>
    <script src="/scripts/highlightNotes.js"></script>
    <script src="/scripts/highlightMethod.js"></script>
    
</body>
</html>